trunk/doc/wsdl/TmriInAccess.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://10.172.134.9:9080/trffweb/services/TmriInAccess" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://10.172.134.9:9080/trffweb/services/TmriInAccess" xmlns:intf="http://10.172.134.9:9080/trffweb/services/TmriInAccess" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->

   <wsdl:message name="writeObjectRequest">

      <wsdl:part name="xtlb" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="jkxlh" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="jkjyw" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="jkid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="EncrptXmlDoc" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="queryObjectResponse">

      <wsdl:part name="queryObjectReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="queryObjectBlobRequest">

      <wsdl:part name="xtlb" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="jkxlh" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="jkjyw" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="jkid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="EncrptXmlDoc" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="writeObjectBlobResponse">

      <wsdl:part name="writeObjectBlobReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="writeObjectResponse">

      <wsdl:part name="writeObjectReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="queryObjectBlobResponse">

      <wsdl:part name="queryObjectBlobReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="queryObjectRequest">

      <wsdl:part name="xtlb" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="jkxlh" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="jkjyw" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="jkid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="EncrptXmlDoc" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="writeObjectBlobRequest">

      <wsdl:part name="xtlb" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="jkxlh" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="jkjyw" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="jkid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="EncrptXmlDoc" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TmriJaxRpcInAccess">

      <wsdl:operation name="queryObject" parameterOrder="xtlb jkxlh jkjyw jkid EncrptXmlDoc">

         <wsdl:input message="impl:queryObjectRequest" name="queryObjectRequest">

       </wsdl:input>

         <wsdl:output message="impl:queryObjectResponse" name="queryObjectResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="queryObjectBlob" parameterOrder="xtlb jkxlh jkjyw jkid EncrptXmlDoc">

         <wsdl:input message="impl:queryObjectBlobRequest" name="queryObjectBlobRequest">

       </wsdl:input>

         <wsdl:output message="impl:queryObjectBlobResponse" name="queryObjectBlobResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="writeObject" parameterOrder="xtlb jkxlh jkjyw jkid EncrptXmlDoc">

         <wsdl:input message="impl:writeObjectRequest" name="writeObjectRequest">

       </wsdl:input>

         <wsdl:output message="impl:writeObjectResponse" name="writeObjectResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="writeObjectBlob" parameterOrder="xtlb jkxlh jkjyw jkid EncrptXmlDoc">

         <wsdl:input message="impl:writeObjectBlobRequest" name="writeObjectBlobRequest">

       </wsdl:input>

         <wsdl:output message="impl:writeObjectBlobResponse" name="writeObjectBlobResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TmriInAccessSoapBinding" type="impl:TmriJaxRpcInAccess">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="queryObject">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="queryObjectRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://endpoint.axis.framework.tmri.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="queryObjectResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.172.134.9:9080/trffweb/services/TmriInAccess" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="queryObjectBlob">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="queryObjectBlobRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://endpoint.axis.framework.tmri.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="queryObjectBlobResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.172.134.9:9080/trffweb/services/TmriInAccess" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="writeObject">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="writeObjectRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://endpoint.axis.framework.tmri.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="writeObjectResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.172.134.9:9080/trffweb/services/TmriInAccess" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="writeObjectBlob">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="writeObjectBlobRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://endpoint.axis.framework.tmri.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="writeObjectBlobResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.172.134.9:9080/trffweb/services/TmriInAccess" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TmriJaxRpcInAccessService">

      <wsdl:port binding="impl:TmriInAccessSoapBinding" name="TmriInAccess">

         <wsdlsoap:address location="http://10.172.134.9:9080/trffweb/services/TmriInAccess"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
