trunk/doc/wsdl/TmriOutAccess.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://172.168.10.1:9080/trffweb/services/TmriOutAccess" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://172.168.10.1:9080/trffweb/services/TmriOutAccess" xmlns:intf="http://172.168.10.1:9080/trffweb/services/TmriOutAccess" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->

   <wsdl:message name="queryObjectOutRequest">

      <wsdl:part name="xtlb" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="jkxlh" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="jkid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="UTF8XmlDoc" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="writeObjectOutResponse">

      <wsdl:part name="writeObjectOutReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="writeObjectOutRequest">

      <wsdl:part name="xtlb" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="jkxlh" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="jkid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="UTF8XmlDoc" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="queryObjectOutResponse">

      <wsdl:part name="queryObjectOutReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TmriJaxRpcOutAccess">

      <wsdl:operation name="queryObjectOut" parameterOrder="xtlb jkxlh jkid UTF8XmlDoc">

         <wsdl:input message="impl:queryObjectOutRequest" name="queryObjectOutRequest">

       </wsdl:input>

         <wsdl:output message="impl:queryObjectOutResponse" name="queryObjectOutResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="writeObjectOut" parameterOrder="xtlb jkxlh jkid UTF8XmlDoc">

         <wsdl:input message="impl:writeObjectOutRequest" name="writeObjectOutRequest">

       </wsdl:input>

         <wsdl:output message="impl:writeObjectOutResponse" name="writeObjectOutResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TmriOutAccessSoapBinding" type="impl:TmriJaxRpcOutAccess">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="queryObjectOut">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="queryObjectOutRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://endpoint.axis.framework.tmri.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="queryObjectOutResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://172.168.10.1:9080/trffweb/services/TmriOutAccess" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="writeObjectOut">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="writeObjectOutRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://endpoint.axis.framework.tmri.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="writeObjectOutResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://172.168.10.1:9080/trffweb/services/TmriOutAccess" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TmriJaxRpcOutAccessService">

      <wsdl:port binding="impl:TmriOutAccessSoapBinding" name="TmriOutAccess">

         <wsdlsoap:address location="http://10.172.134.9:9080/trffweb/services/TmriOutAccess"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
